.c-plan-teaser__desc-wysiwyg {
  ul {
    margin: 0;
    padding: 0 0 0 1.3vw;

    li::marker {
      color: color(primary);
    }

    li {
      margin-bottom: 20px;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }

  li,
  p {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s $cubic;
  }

  li {
    @for $i from 1 through 100 {
      &:nth-of-type(#{$i}n) {
        transition-delay: #{$i * 0.15}s;
      }
    }
  }

  &.is-inview {
    li,
    p {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
