.ui-link {
  display: inline-flex;
  color: color(main);
  @include transition;
}

.ui-bg {
  @include background-modifiers;
}

.ui-color-mb {
  @include media(0, mobile) {
    @include color-modifiers;
  }
}

.ui-color-tablet {
  @include media(mobile) {
    @include color-modifiers;
  }
}

.ui-weight {
  @include weight-modifiers;
}

.ui-letter {
  @include letter-modifiers;
}

.ui-unordered-list,
.ui-ordered-list {
  margin: 0;
  padding: 0;
  padding-left: $white-space;

  list-style: none;
  li {
    margin: 1rem 0;
  }
}

.ui-hide {
  display: none !important;
}

.ui-hide-mobile {
  @include media(0, mobile) {
    display: none !important;
  }
}

.ui-hide-mobile-tablet {
  @include media(0, tablet) {
    display: none !important;
  }
}

.ui-hide-tablet {
  @include media(mobile) {
    display: none !important;
  }
}

.ui-hide-tablet-desktop {
  @include media(mobile, tablet) {
    display: none !important;
  }
}

.ui-hide-desktop {
  @include media(tablet) {
    display: none !important;
  }
}

.ui-svg-fill {
  fill: currentColor;
}

.ui-list {
  @include reset--list;
}

.ui-small-width {
  width: 100%;
  max-width: $size-ui-small-width;
  margin: 0 auto;
}
