.l-about-text {
  padding: 10vw 0;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2vw 0;

    @include media(tablet) {
      flex-direction: row;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: color(primary);
      opacity: 0.05;
      pointer-events: none;
    }
  }

  .h-lg.reveal-text {
    line-height: unset;
  }
}
