.l-contact-home {
  position: relative;
  padding: 10vw 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .reveal-text {
      margin-bottom: 4vw;
      text-align: center;
      line-height: 1.3;
    }
  }

  .c-main-btn {
    opacity: 0;
    transform: translateY(40px);

    &.is-inview {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
